*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0 7%;
  position: relative;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 10px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

.logo{
  width: 160px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
}

nav ul li a:hover{
  color: #ff3e3b;
}

.text-box{
  margin-top: 16%;
  font-size: 22px;
}

.text-box h1 {
  font-size: 85px;
  font-weight: 600;
  line-height: 100px;
  margin-bottom: 10px;
}

.text-box .btn {
  outline: none;
  border: none;
  font-size: 16px;
  margin-top: 30px;
  background: #ff3e3b;
  color: #fff;
  padding: 14px 40px;
  cursor: pointer;
}

.download {
  position: absolute;
  right: 7%;
  bottom: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 20px 40px;
  border-radius: 40px;
  transition: background 0.3s;
}

.download img {
  width: 25px;
  margin-left: 15px;
  animation: move 2s linear infinite;
}

@keyframes move{
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

.download:hover{
  background: #ff3e3b ;
}


/* button-header */

.btn-header {
    font-size:15px;
    font-family:Trebuchet MS;
    padding: 12px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-width:1px;
    color:#fff;
    border-color:rgba(255, 255, 255, 1);
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background:linear-gradient(90deg, rgba(77, 188, 233, 1), rgba(154, 165, 240, 1));
    text-decoration: none;
    opacity: 0.91;
    transition: all 0.3s ease;
  }

.btn-header:hover {
    color: #FFF;
    background:linear-gradient(90deg, rgb(48, 151, 192), rgb(124, 135, 202));
    opacity: 1;
}

/* header-background */
