@import url('http://fonts.cdnfonts.com/css/aileron');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
    font-family: 'Creato';
    src: url('./../../assets/fonts/CreatoDisplay-Regular.otf') format('OpenType');
}
@font-face {
    font-family: 'Calsans';
    src: url('./../../assets/fonts/CalSans-SemiBold.otf') format('OpenType');
}
@font-face {
    font-family: 'Uncut';
    src: url('./../../assets/fonts/Uncut-Sans-Bold.otf') format('OpenType');
}
@font-face {
    font-family: 'Open', sans-serif;
    src: url('./../Public/assets/fonts/OpenSauceOne-Bold.ttf') format('truetype');
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open', sans-serif;
}

html, body {
    background: #fff;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    letter-spacing: -0.009em;
    line-height: 1.355em;
}



    .navbar {
        width: 100%;        
    }

    #menubar {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        font-weight: 600;
        background: #f5f5f5;
        color: #FFF;
        height: 44px;
        padding-left: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #menubar ul, #menubar li {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        padding: 5px 10px;
    }
    #menubar ul {
        width: 100%;
    }
    #menubar li {
        float: right;
        display: inline;
        position: relative;
    }

    #menubar a {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        color: #999999;
    }

    #menubar .profile {
        float: left;
        display: inline;
        padding: 3px 0;
    }

    
    #menubar > i {
        font-size: 1.35em;
    }
    
    .i-coin {
        color: #ffab00 !important;
        size: 10px;
    }

    .round {
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #fff;
        position: relative;
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    img.avatar {
        vertical-align: middle;
        border-radius: 50%;
        text-align: center;
    }

    .img-site-card {
        width: 480px;
    }

    /*** Body ***/

    section {
        margin: 20px 0;
        background-color: #fff;
    }

    #welcome {
        padding: 0 15px;
        font-size: 25px;
        letter-spacing: -0.05em;
        line-height: 1.355em;
        color: #3f3f3f;
    }

    #welcome span {
        font-weight: 700;
    }

    #cards {
        height: 200px;
        min-height: 200px;
        margin: 0 24px;
        margin-bottom: 15px;
        box-shadow: 0 -9px 6px -9px rgb(0 0 0 / 7%), 0 13px 19px -2px rgb(0 0 0 / 4%);
        border-radius: 10px;
        max-width: 330px;
    }

    .card-esp {
        border-radius: 10px;
        width: auto;
        background-color: #fff;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        max-width: 330px;
    }

    #cards span {
        font-family: 'Open', sans-serif;
        display: inline-block;
        padding: 15% 35px 10px 25px;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        line-height: 1.135em;
    }

    #cards p {
        display: inline-block;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        padding: 0 35px 10px 25px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.135em;
    }
        
    #features .card {
        border-radius: 20px;
        padding: 0 5%;
        margin-top: 20px;
        
    }

    /*** Button test ***/

    .btn-test {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 60px;
        right: 30px;
        background-color:#ff5254;
        color: #f5f5f5;
        border-radius: 50px;
        text-align: center;
        font-size: 22px;
        box-shadow: 3px 1px 6px -1px #ccc;
        z-index: 1000;
        border: 0;
    }

    .logo-origin{
        padding-top: 50px;
        width: 139px;
    }

    .logo-couple{
        padding-top: 50px;
        width: 60%;
    }

    .h-title{
        color: #212121;
        font-weight: 700;
        line-height: 1.0625;
        letter-spacing: -0.04em;
    }

    .reg {
       text-align: -webkit-center;
    
    }

    .form-dtx {
        display: inline-block;
        outline:0;
        justify-content: center;
    }

    .form-dtxt input[type=text], input[type=email], input[type="password"], input[type="date"] {
        font-family: 'Nunito', sans-serif !important;
        border-radius: 8px !important;
        background: #fafafa !important;
        border: 1px solid #e0e0e0 !important;
        color: #373537 !important;
        width: 100%;
        max-width: 300px;
        height: 40px;
        padding: 10px 12px;
        font-size: 14px;
        margin: 5px 0;
    }

    input[type=text]{
        font-family: 'Nunito', sans-serif !important;
        border-radius: 8px !important;
        background: #fafafa !important;
        border: 1px solid #e0e0e0  !important;
        color: #373537 !important;
        width: 100%;
        max-width: 300px;
        height: 40px;
        padding: 10px 12px;
        font-size: 14px;
        margin: 5px 0;
    }

    input[type=text]:disabled {
        background: #c5c5c5 !important;
    }

    

    .form-dtxt::placeholder{
        color: #b9b9b9;
    }

    .dlegend {
        float: right;
        font-size: 11px;
        text-align: right;
        line-height: 1.6005; 
        padding-right: 18px;
    }

    .import {
        font-family: 'Creato';
        font-weight: bold;
        color:#9575cd  ;
    }

    .reg label {
        font-family: 'Nunito', sans-serif !important;
        font-weight: bold;
        font-size: 14px;
    }
    
    .btn-login {
        display: inline-block;
        text-align: center;
        justify-items: center;
        width: 70%;
        max-width: 100%;
        padding: 12px 0px;
        margin: 30px 0;
        border: none;
        background-color: #9aa5ed;
        border-radius: 15px;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Nunito', sans-serif;
    }

    .btn-login:hover{
        text-decoration: none;
        background-color: #9575cd ;
        color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .btn-reg {
        background-color: #1de9b6;
    }

    .btn-reg:hover {
        background-color: #0cbe92;
    }

    .bgradient {
        background: linear-gradient(270deg, rgba(77,188,233,1) 0%, rgba(148,154,231,1) 54%);
       
    }

    .complement {
        font-family: 'Nunito';
        font-size: 14px;
        color: #c5cae9;
    }

    .p-subtitle {
        font-family: 'Nunito';
        color: #c5cae9;
        margin-bottom:-1.5rem;
    }

    .menu-mob {
        margin: 20px 15px;
    }

    .btn-mob  {
        border-radius: 15px;
        background-color: #f5f5f5;
        padding: 8px 15px;
    }

   /* .btn-mob {
        color: #616060;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
    }*/

    .box-img {
        display: inline-block;
        margin-top: 40px;
        border-radius: 15px;
        justify-content: center;
        width: 120px;
        height: 120px;
        background-color: #f5f5f5;
        font-size: 35px;
        color: #ccc;
    }

    /** Home **/

    .headline {
        display: table-cell;
        vertical-align: middle;
        margin-top: 30px;
        margin-bottom: 50px;
        max-height: auto;
    }

    .headline-h {
        font-size: 66px;
        letter-spacing: -0.05em;
        font-weight: 700;
        line-height: 0.909em;
    }

    .h-bw {
        color: #fff;
    }

    h2.h-bw{
        font-size: 30px;
    }

    .h-bl {
        font-size: 50px !important;
    }

    .sub-desc {
        font-family: 'Nunito';
        font-size: 19px;
        font-weight: 500;
    }

    .space {
        display: block;
        margin: 20px 0;
    }

    .headline-s {
        padding: 80px 20px;
        height: auto;
        margin: 0;
    }
    .backgrad {
        background: rgb(77,188,233);
        background: linear-gradient(0deg, rgba(77,188,233,1) 0%, rgba(176,142,231,1) 100%);
    }

    .howork {
        background-color: #fafafa;
    }

        
    .card-title {
        font-weight: 500;
        color:#9aa5f0;
        margin: 10px 0;
        color: #4F4F4F;
        font-size: 20px;
    }

    .card-span {
        color: #9aa5f0;
    }

    .card-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.46;
        color: #464444;
        margin-top: 8px;
        font-family: 'Creato';
    }

    .card {
        min-height:270px;
        min-width: 250px;
        /*max-width: 300px;*/
        margin: 10px;
        vertical-align: middle;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .25), 0 3px 9px 8px rgba(0, 0, 0, 0.03) !important;
    }

    .card:hover{
        /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
        box-shadow: none !important;
        transition: all 0.3s ease;
    }

    .card-body > img {
        width: 30px;
    }

      
    .textend {
        margin: 40px 10px;
    }

    h4.textend {
        text-align: center;
        justify-items: center;
        font-size: 19px;
        font-weight: 700;
        line-height: 1.2525;
       
        background-image: linear-gradient(to right,#5eeef8 0,#616bf3 20%,#a176c8 40%,#759beb 60%,#9b4bc9 80%,#be3a6d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .par-4 {
        padding: 1.5rem!important;
    }

    .how {
        padding: 12px 20px;
        margin: 12px 0;
    }

    .how-number {
        float: left;
        font-size: 30px;
        font-weight: 800;
        font-family: 'Uncut';
        background-image: linear-gradient(to right,#616bf3 50%,#a176c8 40%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   
    }

    .how-title{
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        padding-left: 15px;
        letter-spacing: -0.05em;
    }

    .w5 {
        font-weight: 500;
    }

    .how-desc {
        display: block;
        font-size: 14px;
        margin: 4px 0;
        padding-left: 34px;
        font-family: 'Nunito';
    }

    div.body-content {
        bottom: 0;
        padding-bottom: 100px;
    }

    footer {
        width: 100%;
        height: 80px;
        display: block;
        
    }

    

    .footer-simple {
        bottom:0;
        font-size:12px;
        margin:25px 10px 15px 10px;
    }

    .footer-copy {
        margin-right: 8px;
    }

    .footer-copy > a{
        text-transform: none;
        color: #4f4f4f;
    }

    .footer-link {
        color: #4f4f4f;
    }

    .footer-link:hover {
        color: #9575cd;
    }

    .footer-link > i{
        font-size: 20px;
    }

    #formpass1 {
        border-radius: 0;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .fa-eye {
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

    .form-outline {
        width: 300px;
    }

    button[type=submit]:disabled {
        color: #999;
        background: #ccc;
        box-shadow: none;
    }

    .dlegend-2 {
        float: left;
        font-size: 11px;
        text-align: left;
        line-height: 1.3005;
        padding-left: 5px;
    }

    /** Loading */
    .c-loader {
        display: none;
    }


    .c-loader {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        animation: is-rotating 1s infinite;
        border: 6px solid #e5e5e5;
        border-radius: 50%;
        border-top-color: #9aa5ed;
        height: 50px;
        width: 50px;
    }

    .form-grid {
        padding: 25px 25px 10px 25px;
        border: 1px #fafafa solid;
        border-radius: 12px;
        background-color: #fff;
    }

    label.form {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;

    }

    #user01 {
        font-family: 'Nunito', sans-serif !important;
    }

    #user01 ul {
        color: #4f4f4f;
    }
    #user01 a {
        font-family: 'Nunito', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #9575cd;
    }

    #user01 i{
        font-size: 14px;
        padding-right: 8px;
    }

    #user01 small {
        font-family: 'Nunito', sans-serif;
        display: block;
        padding-left: 30px;
    }

   .linkmenu {
        font-family: 'Nunito', sans-serif !important;
        font-size: 12px;
        color: #9575cd;
    }

    .load{
        width:100px;
        height:100px;
        position:absolute;
        top:30%;
        left:45%;
        color:blue;
   }

    
    @keyframes is-rotating {
        to {
        transform: rotate(1turn);
        }
    }

  
        @media only screen and (max-width: 600px){

            .navbar {
                width: 100%;        
            }

            #menubar {
                font-family: 'Nunito', sans-serif;
                font-size: 14px;
                font-weight: 600;
                background: #f5f5f5;
                color: #FFF;
                height: 44px;
                padding-left: 8px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            #menubar ul, #menubar li {
                margin: 0 auto;
                padding: 0;
                list-style: none;
                padding: 5px 10px;
            }
            #menubar ul {
                width: 100%;
            }
            #menubar li {
                float: right;
                display: inline;
                position: relative;
            }

            #menubar a {
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                color: #9e9e9e;
            }

            #menubar .profile {
                float: left;
                display: inline;
                padding: 3px 0;
            }
            
            .i-coin {
                color: #ffab00 !important;
                size: 10px;
            }

            .round {
                text-align: center;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: #fff;
                position: relative;
                background-size: cover;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }

            img.avatar {
                vertical-align: middle;
                border-radius: 50%;
                text-align: center;
            }

            /*** Body ***/

            section {
                margin: 20px 0;
                background-color: #fff;
            }

            #welcome {
                padding: 0 15px;
                font-size: 25px;
                font-weight: 800;
                letter-spacing: -0.05em;
                line-height: 1.355em;
                color: #3f3f3f;
            }

            #cards {
                height: 200px;
                min-height: 200px;
                margin: 0 24px;
                margin-bottom: 15px;
                box-shadow: 0 -9px 6px -9px rgb(0 0 0 / 7%), 0 13px 19px -2px rgb(0 0 0 / 4%);
                border-radius: 10px;
            }

            .card-esp {
                border-radius: 10px;
                width: auto;
                background-color: #fff;
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;
            }

            #cards span {
                font-family: 'Open', sans-serif;
                display: inline-block;
                padding: 15% 35px 10px 25px;
                color: #fff;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.135em;
            }

            #cards p {
                display: inline-block;
                color: #fff;
                font-family: 'Nunito', sans-serif;
                padding: 0 35px 10px 25px;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.135em;
            }
                
            #features .card {
                border-radius: 20px;
                padding: 0 10%;
                margin-top: 20px;
            }

            /*** Button test ***/

            .btn-test {
                position: fixed;
                width: 50px;
                height: 50px;
                bottom: 60px;
                right: 30px;
                background-color:#ff5254;
                color: #f5f5f5;
                border-radius: 50px;
                text-align: center;
                font-size: 22px;
                box-shadow: 3px 1px 6px -1px #ccc;
                z-index: 1000;
                border: 0;
            }

            .logo-origin{
                padding-top: 50px;
                width: 139px;
            }

            .logo-couple{
                padding-top: 50px;
                width: 60%;
            }

            .h-title{
                color: #212121;
                font-weight: 700;
                line-height: 1.0625;
                letter-spacing: -0.04em;
            }

            .reg {
            text-align: -webkit-center;
            }

            .form-dtx {
                display: inline-block;
                outline:0;
                justify-content: center;
            }

            .form-dtxt input[type=text], input[type=email], input[type="password"], input[type="date"] {
                font-family: 'Nunito', sans-serif !important;
                border-radius: 8px !important;
                background: #fafafa !important;
                border: 1px solid #f5f5f5 !important;
                color: #373537 !important;
                width: 100%;
                max-width: 300px;
                height: 40px;
                padding: 10px 12px;
                font-size: 14px;
                margin: 5px 0;
            }

            input[type=text]{
                font-family: 'Nunito', sans-serif !important;
                border-radius: 8px !important;
                background: #fafafa !important;
                border: 1px solid #f5f5f5 !important;
                color: #373537 !important;
                width: 100%;
                max-width: 300px;
                height: 40px;
                padding: 10px 12px;
                font-size: 14px;
                margin: 5px 0;
            }

            .form-dtxt::placeholder{
                color: #b9b9b9;
            }

            .dlegend {
                float: right;
                font-size: 11px;
                text-align: right;
                line-height: 1.6005; 
                padding-right: 18px;
                font-family: 'Nunito', sans-serif;
            }

            .import {
                font-family: 'Creato';
                font-weight: bold;
                color:#9575cd  ;
            }

            .reg label {
                font-family: 'Nunito', sans-serif !important;
                font-weight: bold;
                font-size: 14px;
            }
            
            .btn-login {
                display: inline-block;
                text-align: center;
                justify-items: center;
                width: 70%;
                max-width: 100%;
                padding: 12px 0px;
                margin: 30px 0;
                border: none;
                background-color: #9aa5ed;
                border-radius: 15px;
                color: #fff;
                text-decoration: none;
                transition: all 0.3s ease;
                font-size: 14px;
                font-weight: 500;
                font-family: 'Nunito', sans-serif;
            }

            .btn-login:hover{
                text-decoration: none;
                background-color: #9575cd ;
                color: #fff;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }

            .btn-reg {
                background-color: #1de9b6;
            }

            .btn-reg:hover {
                background-color: #0cbe92;
            }

            .bgradient {
                background: linear-gradient(270deg, rgba(77,188,233,1) 0%, rgba(148,154,231,1) 54%);
            
            }

            .complement {
                font-size: 12px;
                font-family: 'Creato';
                color: #c5cae9;
            }

            .p-subtitle {
                font-family: 'Creato';
                color: #c5cae9;
                margin-bottom: 0rem;
            }

            .menu-mob {
                margin: 20px 15px;
            }

            .btn-mob  {
                border-radius: 15px;
                background-color: #f5f5f5;
                padding: 8px 15px;
            }

        /* .btn-mob {
                color: #616060;
                font-weight: bold;
                font-family: 'Nunito', sans-serif;
            }*/

            .box-img {
                display: inline-block;
                margin-top: 40px;
                border-radius: 15px;
                justify-content: center;
                width: 120px;
                height: 120px;
                background-color: #f5f5f5;
                font-size: 35px;
                color: #ccc;
            }

            /** Home **/

            .headline {
                display: table-cell;
                vertical-align: middle;
                margin-top: 30px;
                margin-bottom: 50px;
                max-height: auto;
            }

            .headline-h {
                font-size: 42px;
                text-align: center;
                letter-spacing: -0.05em;
                font-weight: 700;
                line-height: 0.909em;
            }

            .h-bw {
                color: #fff;
            }

            h2.h-bw{
                font-size: 30px;
            }

            .h-bl {
                font-size: 30px !important;
            }

            .sub-desc {
                font-family: 'Nunito';
                font-size: 15px;
                text-align: center;
                font-weight: 500;
            }

            .space {
                display: block;
                margin: 20px 0;
            }

            .headline-s {
                padding: 50px 20px;
                height: auto;
                margin: 0;
            }
            .backgrad {
                background: rgb(77,188,233);
                background: linear-gradient(0deg, rgba(77,188,233,1) 0%, rgba(176,142,231,1) 100%);
            }

            .howork {
                background-color: #fafafa;
            }

                
            .card-title {
                font-weight: 500;
                color:#9aa5f0;
                margin: 10px 0;
                color: #4F4F4F;
            }

            .card-text {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.46;
                color: #464444;
                margin-top: 8px;
                font-family: 'Creato';
            }

            .card {
                min-height: 250px;
                min-width: 250px;
                /*max-width: 300px;*/
                margin: 10px;
                vertical-align: middle;
            }

            .card:hover{
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
            }

            .card-body > img {
                width: 50px;
            }

            
            .textend {
                margin: 40px 10px;
            }

            h4.textend {
                text-align: center;
                justify-items: center;
                font-size: 19px;
                font-weight: 700;
                line-height: 1.2525;
            
                background-image: linear-gradient(to right,#5eeef8 0,#616bf3 20%,#a176c8 40%,#759beb 60%,#9b4bc9 80%,#be3a6d 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .par-4 {
                padding: 0.5rem!important;
            }

            .how {
                padding: 5px 20px;
                margin: 12px 0;
            }

            .how-number {
                float: left;
                font-size: 30px;
                font-weight: 800;
                font-family: 'Uncut';
                background-image: linear-gradient(to right,#616bf3 50%,#a176c8 40%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        
            }

            .how-title{
                font-size: 20px;
                font-weight: 800;
                display: flex;
                padding-left: 15px;
            }

            .how-desc {
                display: block;
                font-size: 14px;
                margin: 6px 0;              
            }
            
            .img-site-card {
                width: 100%;
                object-fit: cover;  
                object-position: bottom;
            }


        }
    
