@import url('http://fonts.cdnfonts.com/css/aileron');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@font-face {
    font-family: 'Open Sauce', sans-serif;
    src: url('./../Public/assets/fonts/OpenSauceOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Familjen';
    src: url('./../../assets/fonts/FamiljenGrotesk-Bold.otf') format('OpenType');
}
@font-face {
    font-family: 'Calsans';
    src: url('./../../assets/fonts/CalSans-SemiBold.otf') format('OpenType');
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sauce', sans-serif;
    letter-spacing: -0.05em;
    /*font-family: 'Philosopher', sans-serif;*/
    /*font-family: 'Aileron', sans-serif;*/
    /*font-family: 'Questrial', sans-serif;*/
    /*font-family: 'Mulish', sans-serif;*/
}

html, body {
    background: #fafafa;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

.font-aff {
    font-family: 'Mulish', sans-serif;
}

.logo{
    margin-left: 20px;
    width: 140px;
    cursor: pointer;
}

.logo-origin{
    padding-top: 50px;
    width: 139px;
}

.headline {
    padding: 0 10%;
    margin-top: 80px;
    margin-bottom: 90px;
}

.link-menu {
    font-weight: 700;
}

.lnik-menu:hover {
    text-decoration: underline !important;
    border-bottom: #6c76b9 2px solid !important;
}

section {
    margin: 160px 0;
}

h1 {
    font-size: 64px;
    color: #212121 ;
    font-weight: 800;
    line-height: 1.0625;
    padding-bottom: 25px;
    
}

section.features h2 {
    font-size: 60px;
    color: #212121 ;
    font-weight: 700;
    line-height: 1.0625;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

.features {
    padding: 0 10%;
    margin-top: 80px;
}

.features .card {
    border-radius: 18px;
}

h2.h-title{
    font-size: 40px;
    color: #212121;
    font-weight: 700;
    line-height: 1.0625;
    letter-spacing: -0.04em;
}

h4.h-title{
    color: #212121;
    font-weight: 700;
    line-height: 1.0625;
    letter-spacing: -0.04em;
}

.p-subtitle {
    font-size: 18px;
    color: #9aa5ed;
    line-height: 1.5rem;
    letter-spacing: -0.009em;
    font-weight: 700;
}

.p-text {
    font-size: 16px;
    color: #999;
    line-height: 1.2rem;  
}

/*********
*
* Buttons 
*
*********/

.btn-default {
    display: inline-block;
    text-align: center;
    justify-items: center;
    width: 70%;
    max-width: 100%;
    padding: 12px 0px;
    margin: 30px 0;
    border: none;
    background-color: #4dbce9;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 19px;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Mulish', sans-serif;
}

.btn-default:hover{
    text-decoration: none;
    background-color: #9aa5f0;
    color: #fff;
}

.subs {
    background-color: #fb7991;
}

.subs:hover {
    background-color: #da5971;
}

.bsignup {
    width: 70%;
    display: inline-block;
    background-color: #b9f6ca;
    color: #000;
}

.bsignup:hover {
    background-color: #00c853  ;
}


.bgradient {
    background: linear-gradient(90deg, rgba(77,188,233,1) 0%, rgba(148,154,231,1) 100%);
    border-radius: 15px;
}

.confirm {
   width: 300px;
}

.bgradient:hover{
    text-decoration: none;
    background: linear-gradient(90deg, rgb(44, 178, 231) 0%, rgb(125, 131, 226) 100%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.card {
    padding: 0 10px;
    margin: 10px;
}

section.formsub {
    background: white;
    padding-top: 80px;
}

.formsub input {
    width: 100%;
}

.formsub form {
    margin: 30px;
}

.reg {
    background: white;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

section.formregister {
    margin: 20px 0;
}

.card-title {
    font-weight: 700;
    color:#9aa5f0;
}

.card-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    color: #464444;
}

.card {
    min-height: 200px;
    min-width: 200px;
    max-width: 300px;
}

.card:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


h4.textend {
    text-align: center;
    justify-items: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.4625;
   
    background-image: linear-gradient(to right,#5eeef8 0,#616bf3 20%,#a176c8 40%,#759beb 60%,#9b4bc9 80%,#be3a6d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4.p-textend {
    text-align: center;
    justify-items: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.1625;
}

.dlegend {
    display: inline-block;
    font-size: 11px;
    text-align: left;
    line-height: 1.6005; 
}

/*********
*
* Input 
*
*********/

.formregister input[type=text], input[type=email], input[type="password"], input[type="date"] {
    font-family: 'Mulish', sans-serif !important;
    border-radius: 6px !important;
    background: #fafafa !important;
    border: 2px solid #f5f5f5 !important;
    color: #373537 !important;
    width: 100%;
}

.formregister label {
    font-family: 'Mulish', sans-serif !important;
    color: #999 !important;
}

.formregister input::placeholder{
    color: #999;
}

.footer {
    width: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    border-top: #ccc 0 solid;
}

footer a {
    color: #9aa5f0 ;
}

footer a:hover {
    color: #6c76b9 ;
}

/********
* Register
*********/

.backgrad {
    background: rgb(77,188,233);
    background: linear-gradient(0deg, rgba(77,188,233,1) 0%, rgba(176,142,231,1) 100%);
}

@media only screen and (min-width: 1024px){
   
}

@media only screen and (min-width: 600px){
  

    .reg {
        border-radius: 10px;
    }
}

@media (max-width: 600px){

    .logo {
        width: 100px;
    }
    
    section {
        margin: 40px 0;
    }

    h1 {
        font-size: 48px;
    }

    section.features h2 {
        font-size: 34px;
    }

    section.textend {
        border-bottom: #f5f5f5 1px solid;
    }

    h2.h-title {
        font-size: 34px;
    }

    .img-couple {
        width: 100%;
    }

    .p-btn {
        text-align: -webkit-center;
    }

    .card {
        padding: 0 16px;
        margin: 10px;
    }

    .subs {
        width: 100%;
    }

    .textend {
        margin: 40px 10px;
    }

    h4.textend {
        font-size: 19px;
        line-height: 1.25;
    }

    .reg {
        box-shadow: none
    }
}

